html, body {
        min-width:1300px;
}

#btn-annuler {
    position: absolute !important; width:200px !important; float:right !important; right: 0px !important; left: auto  !important;
}

/*#col-left {
    float:left !important;
}

#col-right {
    float:right !important;
}*/

[id*='col-left'] {
    float:left !important;
}

[id*='col-right'] {
    float:right !important;
}
